###################################################
#    Modify these variables as per need
###################################################

# Directory where the music dataset is located (GTZAN dataset)
GENRE_DIR = "genres_dataset/"

# Directory where the test music is located
TEST_DIR = "genres_test_set/"

# All the available genres
#GENRE_LIST = ["blues","classical","country","disco","hiphop","jazz","metal","pop","reggae","rock"]

# Working with these genres
GENRE_LIST = ["blues","jazz","metal"]

# Path to the feature extraction script
FEATURE_EXTRACTION_SCRIPT = "../../pyAudioAnalysis/audioAnalysis.py"
